/* font-family: 'Roboto', sans-serif;
font-family: 'Sacramento', cursive; */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--primary-color);
}

:root {
    --primary-color: #FFFDE4;
}

body {
    background-image: url(images/sunrise-bg.png);
    min-height: 100vh;
    max-width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.title {
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 10px;
    margin-top: 80px;
}

.profile {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: 10px solid #FFFDE4;
}

.center-div {
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
}

.info {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.descrip {
    font-size: 20px;
    font-weight: 500;
    color: cadetblue;
}

.sub-title {
    font-family: 'Sacramento', cursive;
    ;
    font-size: 50px;
    font-weight: 700;
    /* float: right; */
}

.image-size {
    height: 200px;
    width: 300px;
    float: left;
    border: 10px solid #FFFDE4;
    border-radius: 15px;
}

.btn-primary {
    background-color: var(--primary-color);
    color: cadetblue;
    border: none;
    height: 60px;
    width: 200px;
    font-size: large;
    font-weight: 700;
    border-radius: 15px;
    position: relative;
    left: 40vw;
}

.o {
    background-color: rgba(108, 177, 177, 0.5);
    max-width: 100vw;
    height: 150px;
}

.mute-button {
    position: fixed;
    background: none;
    border: none;
    cursor: pointer;
    top: 20px;
    left: 20px;
   
  }
  svg{
    height: 30px;
    width: 30px;
  }